@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,500&family=Roboto+Slab:wght@100;400;700;900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    /* fonts */
    --title-font: 'Koulen', cursive;
    --text-font: 'Roboto Slab', serif;

    /* *************************************** */

    /* colors */
    /*  body background gradient */
    --body-bg: linear-gradient(to top right, #C966A5 15%, #2e1e8710 45%),
                linear-gradient(to bottom left, #C966A5 5% , #2e1e870e 35%),
                linear-gradient(to bottom right, #2D1E87 55%, #2e1e87 35%);
    backdrop-filter: blur(30px);

    /* Cards background */
    --main-card-bg: radial-gradient(circle at top left, #C966A5 0 12%, #2e1e87ea 30%);
    --mini-cards-bg: rgba(108, 146, 182, 0.27);
    --contactList-card-bg: rgba(33, 85, 205, 0.227);

     /* circle colors */
    --clr-big-circle: linear-gradient(45deg, #F1658C 0 30%, #7B74DE 80%);
    --clr-big-circle-shadow: rgba(123, 116, 222, .7);
    --clr-blured-circle: radial-gradient(circle,rgba(201, 102, 165, .8), rgba(45, 30, 135, 0) 70%);

    /* Buttons */
    --clr-add-btn: #2D1E87;

    /* input colors */
    --input-hover-clr: #18ffff;
    --input-focus-bg: rgba(123, 116, 222, .3);


    /* text colors */
    --clr-text-light: #adffff;
    --clr-text-darker: #b3c4c4;
}


body {
    display: grid;
    place-items: center;
    background: var(--body-bg);
    height: 100vh;
}

.main__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;
    max-width: 1200px;
    background: var(--main-card-bg);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .67);
    backdrop-filter: blur();
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, .4);
    overflow: hidden;
    padding-bottom: 3.2rem;
}

.circle__border {
    display: grid;
    place-items: center;
    position: absolute;
    bottom: -120px;
    right: -360px;
    width: 900px;
    height: 900px;
    border: 10px solid #F1658C;
    z-index: -1;
}
.circle__border,
.circle {
    box-shadow: -120px -220px 562px 39px var(--clr-big-circle-shadow);
}
.circle {
    background: var(--clr-big-circle);
    width: 800px;
    height: 800px;
}
.circle__border,
.circle,
.blur__circle {
    border-radius: 50%;
}

.blur__circle {
    position: absolute;
    width: 300px;
    height: 300px;
    right: 50px;
    top: 57px;
    background: var(--clr-blured-circle);
    z-index: -1;
}

body,
.main__container {
    position: relative;
    font-family: var(--text-font);
}

.main__header {
    padding: 2.2rem 0;
}

.main__header-title {
    font-size: 3.1rem;
    font-family: var(--title-font);
    font-weight: 500;
    color: var(--clr-text-light);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    background: var(--mini-cards-bg);
    width: 800px;
    padding: .5rem 2rem;
    border: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(6px);
    border-radius: 2rem;
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.27);
}


.contact__info {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 60%;
    padding: 2.8rem 1.3rem;
}
.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20rem;
    height: 2rem;
    font-size: 1.25rem;
    margin: 2rem 0;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: .5rem;
    font-family: inherit;
    font-size: inherit;
    color: var(--clr-text-darker);
    outline: none;
    padding: 1.15rem;
    background: none;
}
.input:hover,
.search-input:hover {
    border-color: var(--input-hover-clr);
}
.input:focus,
.search-input:focus {
    border-color: var(--input-hover-clr);
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.27);
    background: var(--input-focus-bg);
}
.input:focus ~ .input-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-label {
    top: -1.5rem;
    color: var(--clr-text-light);
}

.input-label {
    position: absolute;
    left: 1rem;
    top: .8rem;
    padding: 0 .5rem;
    color: var(--clr-text-darker);
    cursor: text;
    transition: top 200ms ease-in,
        left 200ms ease-in,
        font-size 200ms ease-in;
}


/* style for the ADD btn */
.contact__btn {
    align-self: center;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    align-items: center;
    color: var(--clr-text-light);
    background: none;
    border: none;
    padding: 14px 22px;
    position: relative;
    cursor: pointer;
}
.contact__btn::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(calc(100% + 12.5px));
    width: 36px;
    height: 36px;
    background: var(--clr-add-btn);
    border-radius: 50px;
    transition: transform .25s .25s cubic-bezier(0,0,.5,2),
    width .25s cubic-bezier(0,0,.5,2);
    z-index: -1;
}

/* effect on Hover */
.contact__btn:hover::before {
    width: 100%;
    transform: translateY(-50%) translateX(-18px);
    transition: transform .25s cubic-bezier(0,0,.5,2),
    width .25s .25s cubic-bezier(0,0,.5,2);
}

.contact__btn i {
    margin-left: 16px;
    font-size: 1.6rem;
    color: var(--clr-text-light);
    transition: transform .15s .4s cubic-bezier(0,0,.5,2);
}
.contact__btn:hover i {
    transform: translateX(6px);
}

.contact__list-container {
    background: var(--contactList-card-bg);
    border: 12px double rgba(197, 206, 214, 0.3);
    width: 200px;
    align-self: flex-start;
    margin: 0 auto;
    padding: .8rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: var(--clr-text-light);
    font-weight: 400;
    font-size: 1.3rem;
}
#contactList li{
    margin-bottom: .6rem;
}
.contact__list-title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--clr-text-light);
    margin-bottom: 1.2rem;
}

.cards__search-container {
    display: flex;
    width: 60%;
    padding: 2.8rem 1.3rem;
    margin: 2.5rem 0;
}

.search__input-container {
    display: flex;
    width: 14rem;
    height: 2.5rem;
    font-size: 1.25rem;
}
.search-input {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: .5rem;
    font-family: inherit;
    font-size: inherit;
    color: var(--clr-text-darker);
    outline: none;
    padding: .5rem;
    background: none;
}
.search-input::placeholder {
    font-size: 1.2rem;
    color: var(--clr-text-darker);
}

.search__btn {
    height: 3rem;
    width: 8rem;
    margin-left: 3.4rem;
    border: 3px solid #F1658C;
    background: transparent;
    color: var(--clr-text-light);
    font-weight: 800;
    font-size: 1.4rem;
    position: relative;
    cursor: pointer;
    transition: background .2s ease;
}
.search__btn:hover {
    background: rgba(241, 101, 141, 0.37);
}
.search__btn::before,
.search__btn::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: .2s ease;
}
.search__btn::before {
    left: -15px;
    top: -15px;
    border-width: 3px 0 0 3px;
}
.search__btn::after {
    right: -15px;
    bottom: -15px;
    border-width: 0 3px 3px 0 ;
}
.search__btn:hover::after,
.search__btn:focus::after,
.search__btn:hover::before, 
.search__btn:focus::before{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
    background: rgba(241, 101, 141, 0.08);
}


.display__number-container {
    background: var(--contactList-card-bg);
    border: 4px solid rgba(197, 206, 214, 0.3);
    width: 200px;
    align-self: center;
    padding: .8rem;
    margin: 0 auto;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: var(--clr-text-light);
}
.display__number-title {
    text-align: center;
    font-family: var(--text-font);
    font-weight: 900;
    margin-bottom: .5rem;
}

#displayName ~ p {
    margin-top: .5rem;
}

/* Media queries */

@media (max-width: 43rem) {
    .main__container {
        gap: 2.1rem;
        width: 100%;
        background: linear-gradient(45deg, #2D1E87, rgba(123, 116, 222, .7));
        border-radius: 0;
        border: none;
        padding-bottom: 0;
    }

    .circle__border {
        display: none;
    }
    .circle {
        display: none;
    }
    .blur__circle {
        display: none;
    }

    .main__header-title {
        font-size: 2.3rem;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        border-radius: 0;
        border-left: none;
        border-right: none;
        padding-bottom: 2.4rem;
    }

    /* contact btn */
    .contact__info {
        align-items: center;
    }

    .contact__btn {
        background: var(--clr-add-btn);
        padding: .7rem 2.6rem;
        border-radius: 2rem;
    }
    .contact__btn:active {
        box-shadow: 0 1px 13px 0 var(--clr-text-light);
    }
    .contact__btn::before {
       display: none;
    }
    .contact__btn:hover::before {
        display: none;
    }
    .contact__btn:hover i {
        transform: translateX(0);
    }

    /* contact list display layout */
    .contact__list-container,
    .display__number-container {
        border: 1px solid rgba(255, 255, 255, .3);
        width: 20rem;
        border-radius: .5rem;
    }
    .contact__list-title,
    .display__number-title {
        text-align: left;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        width: 50%;
        padding-bottom: .5rem;
    }

    /* search card */
    .cards__search-container {
        width: 100%;
        padding: 2.8rem 1.7rem;
        margin: 2.5rem 0;
    }

    .search-input::placeholder {
        font-size: .9rem;
    }

    /* Search button */
    .search__btn:active::after,
    .search__btn:active::before {
        width: calc(100% + 27px);
        height: calc(100% + 27px);
        background: rgba(241, 101, 141, 0.08);
    }

    #displayName ~ p {
        margin-top: .7rem;
    }

    body {
        display: block;
        height: auto;
    }
}