@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,500&family=Roboto+Slab:wght@100;400;700;900&display=swap');

:root {
    /* fonts */
    --title-font: 'Koulen', cursive;
    --text-font: 'Roboto Slab', serif;

    /* *************************************** */

    /* colors */
    /*  body background gradient */
    --body-bg: linear-gradient(to top right, #C966A5 15%, #2e1e8710 45%),
                linear-gradient(to bottom left, #C966A5 5% , #2e1e870e 35%),
                linear-gradient(to bottom right, #2D1E87 55%, #2e1e87 35%);
    backdrop-filter: blur(30px);

    /* Cards background */
    --main-card-bg: radial-gradient(circle at top left, #C966A5 0 12%, #2e1e87ea 30%);
    --mini-cards-bg: rgba(108, 146, 182, 0.27);
    --contactList-card-bg: rgba(33, 85, 205, 0.227);

     /* circle colors */
    --clr-big-circle: linear-gradient(45deg, #F1658C 0 30%, #7B74DE 80%);
    --clr-big-circle-shadow: rgba(123, 116, 222, .7);
    --clr-blured-circle: radial-gradient(circle,rgba(201, 102, 165, .8), rgba(45, 30, 135, 0) 70%);

    /* Buttons */
    --clr-add-btn: #2D1E87;

    /* input colors */
    --input-hover-clr: #18ffff;
    --input-focus-bg: rgba(123, 116, 222, .3);


    /* text colors */
    --clr-text-light: #adffff;
    --clr-text-darker: #b3c4c4;
   
}


body {
    display: grid;
    place-items: center;
    background: var(--body-bg);
    height: 100vh;
}

.main__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 90%;
    max-width: 1200px;
    height: 85%;
    background: var(--main-card-bg);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .67);
    backdrop-filter: blur();
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, .4);
    overflow: hidden;
}

.circle__border {
    display: grid;
    place-items: center;
    position: absolute;
    bottom: -120px;
    right: -360px;
    width: 900px;
    height: 900px;
    border: 10px solid #F1658C;
    z-index: -1;
}
.circle__border,
.circle {
    box-shadow: -120px -220px 562px 39px var(--clr-big-circle-shadow);
}
.circle {
    background: var(--clr-big-circle);
    width: 800px;
    height: 800px;
}
.circle__border,
.circle,
.blur__circle {
    border-radius: 50%;
}

.blur__circle {
    position: absolute;
    width: 300px;
    height: 300px;
    right: 50px;
    top: 57px;
    background: var(--clr-blured-circle);
    z-index: -1;
}

body,
.main__container {
    position: relative;
    font-family: var(--text-font);
}

.main__header {
    padding: 2.2rem 0;
}
.main__header-title {
    font-size: 3.1rem;
    font-family: var(--title-font);
    font-weight: 500;
    color: var(--clr-text-light);
}

.cards {
    display: flex;
    background: var(--mini-cards-bg);
    width: 800px;
    padding: .5rem 2rem;
    border: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(6px);
    border-radius: 2rem;
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.27);
}


.contact__info {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 60%;
    padding: 2.8rem 1.3rem;
}
.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20rem;
    height: 2rem;
    font-size: 1.25rem;
    margin: 2rem 0;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: .5rem;
    font-family: inherit;
    font-size: inherit;
    color: var(--clr-text-darker);
    outline: none;
    padding: 1.15rem;
    background: none;
}
.input:hover,
.search-input:hover {
    border-color: var(--input-hover-clr);
}
.input:focus,
.search-input:focus {
    border-color: var(--input-hover-clr);
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.27);
    background: var(--input-focus-bg);
}
.input:focus ~ .input-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-label {
    top: -1.5rem;
    color: var(--clr-text-light);
}

.input-label {
    position: absolute;
    left: 1rem;
    top: .8rem;
    padding: 0 .5rem;
    color: var(--clr-text-darker);
    cursor: text;
    transition: top 200ms ease-in,
        left 200ms ease-in,
        font-size 200ms ease-in;
}


/* style for the ADD btn */
.contact__btn {
    align-self: center;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    align-items: center;
    color: var(--clr-text-light);
    background: none;
    border: none;
    padding: 14px 22px;
    position: relative;
}
.contact__btn::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(calc(100% + 12.5px));
    width: 36px;
    height: 36px;
    background: var(--clr-add-btn);
    border-radius: 50px;
    transition: transform .25s .25s cubic-bezier(0,0,.5,2),
    width .25s cubic-bezier(0,0,.5,2);
    z-index: -1;
}

/* effect on Hover */
.contact__btn:hover::before {
    width: 100%;
    transform: translateY(-50%) translateX(-18px);
    transition: transform .25s cubic-bezier(0,0,.5,2),
    width .25s .25s cubic-bezier(0,0,.5,2);
}

.contact__btn i {
    margin-left: 16px;
    font-size: 1.6rem;
    color: var(--clr-text-light);
    transition: transform .15s .4s cubic-bezier(0,0,.5,2);
}
.contact__btn:hover i {
    transform: translateX(6px);
}

.contact__list-container {
    background: var(--contactList-card-bg);
    border: 12px double rgba(197, 206, 214, 0.3);
    width: 200px;
    height: 80%;
    align-self: center;
    margin: 0 auto;
    padding: .8rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: var(--clr-text-light);
    font-weight: 400;
    font-size: 1.3rem;
}
#contactlist li{
    margin-bottom: .6rem;
}
.contact__list-title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--clr-text-light);
    margin-bottom: 1.2rem;
}

.cards__search-container {
    display: flex;
    width: 60%;
    padding: 2.8rem 1.3rem;
    margin: 2.5rem 0;
}

.search__input-container {
    display: flex;
    position: relative;
    width: 18rem;
    height: 2rem;
    font-size: 1.25rem;
}
.search-input {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: .5rem;
    font-family: inherit;
    font-size: inherit;
    color: var(--clr-text-darker);
    outline: none;
    padding: .5rem;
    background: none;
}
.search-label{
    position: absolute;
    top: .6rem;
    left: 1rem;
    padding: 0 .5rem;
    color: var(--clr-text-darker);
    transition: 200ms ease-in;
}

.search-input:focus ~ .search-label,
.search-input:not(:placeholder-shown).search-input:not(:focus) ~ .search-label {
    top: -1.5rem;
    color: var(--clr-text-light);
}

.search__btn {
    font-size: 1.4rem;
    color: var(--clr-text-light);
    background: #F1658C;
    border: none;
    border-radius: .8rem;
    padding: .5rem 4rem;
    transition: all .1s;
}
.search__btn:hover{
    background: #c96d87;
}
.search__btn:focus {
    background: #C966A5;
    box-shadow: 0 0 8px 0 white;
}
.search__btn i {
    transition: transform 50ms ease-in;
}
.search__btn:hover i {
    transform: scale(1.2);
}

.display__number-container {
    background: var(--contactList-card-bg);
    border: 4px solid rgba(197, 206, 214, 0.3);
    width: 200px;
    align-self: center;
    padding: .8rem;
    margin: 0 auto;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: var(--clr-text-light);
}
.display__number-title {
    text-align: center;
    font-family: var(--text-font);
    font-weight: 900;
    margin-bottom: .5rem;
}

#displayName ~ p {
    margin-top: .5rem;
}